/* @import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur'); */


 .main{
    /* background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
    background-color: #0A1A2F;
    min-width: 350px;
    min-height: 200px;
    align-items: center;
    justify-items: center;
    }
.cards{
    margin-top: 40px;
}
.form{
    display: block;
    width: auto;
    min-width: 300px;
    min-height: 200px;
    padding-top: 30px;
    justify-items: center;
    align-self: center;
}

.label{
    font: 1em sans-serif;
}

.forgot-pssd{
    font: 0.85em sans-serif;
    color: #3B82F6;
    margin-left: 99px;
}

.heading{
    font: 2em Arial, Helvetica, sans-serif;
}

.button{
     background: rgba(37, 99, 235, 0.15);
  color: #1d4ed8;
      /* padding: 0.75rem 1.5rem; */
    color: white;
    border-radius: 10px;    
    margin-left: 95px;
    margin-top: 45px;
    /* height: 50px; */
    font-size: 15px;
    font-weight: 500;
}

.inputBox{
    font-size: 15px;
    border-radius: 5px;
    margin-top: 3px;
    width: 100%;
}

.card{
    margin-top: 10px;
    /* display: block;
    justify-content: space-between;
    align-items: space-between; */
}

@media screen and (width>=1300px) {
    .main{
    /* background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
    margin-left:650px;
    background-color: #0A1A2F;
    min-width: 400px;
    min-height: 500px;
    align-items: center;
    justify-items: center;
    border: #0A1A2F ;
    border-radius: 25px;
    }


}